.header {
    position: relative;
    width: 100%;
    padding: 0.5rem 3rem 2rem;
    background: #56CCF2;
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    text-align: center;
}

.header_title {
    font-size: 3rem;
    color: var(--color-white);
    font-family: 'Indie Flower', cursive;
    letter-spacing: 3px;
}

@media(max-width: 600px) {
    .header_title {
        font-size: 2.2rem;
    }
}