
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Indie+Flower&display=swap');

:root {
  --color-gray: #ddd;
  --color-white: #fff;
  --color-primary: #8257E5;
  --color-primary-dark: #774DD6;
  --color-secondary: #76ff03;
  --color-secondary-dark: #64dd17;
  --color-input: #F8F8FC;
  --color-background: #F0F0F7;
  --color-text-title: #32264D;
  --color-text: #9C98A6;
  --color-text-input: #6A6180;
  --color-line: #E6E6F0;
  --color-secondary: #04D361;
  --color-secondary-dark: #04BF58;

  font-size: 98%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-background);
}

html,
body {
  width: 100%;
  height: 100vh;
}

@media(max-width: 600px) {
  html,body {
    overflow-x: hidden;
  }
}

